img{
	width:400px;
}

form .body_form_box{
	padding-bottom:300px;
	width:100%;
	overflow:scroll;
}

form .imgcaption_form_box{
	padding-bottom:100px;
}

form .imgcredit_form_box{
	padding-bottom:50px;
}

input{
	width:100%;
}

