img{
	width:400px;
}

form .body_form_box{
	padding-bottom:300px;
	width:100%;
	overflow:scroll;
}

form .imgcaption_form_box{
	padding-bottom:100px;
}

form .imgcredit_form_box{
	padding-bottom:50px;
}

input{
	width:100%;
}

textarea{
	width:100%;
	height:600px;
	padding-top:10px 10px 0px 0px ;
	border:1px solid #ccc;
}



